<!DOCTYPE html>
<html>
	{% load staticfiles %}
    <head>
        <title> {% block pagetitle %} Welcome To Engage {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="{% static 'account/css/base.css' %}" > -->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% include 'material/includes/material_css.html' %}
        {% block extrahead %}{% endblock %}
    </head>
<body>

	{% block content%}
        <main class="container">
        </main>
    {% endblock %}


	<script src="{% static 'base/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'material/js/jquery.formset.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
    <script src="{% static 'material/js/material_init.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>