{% extends 'authentication/base.html' %}
{% load staticfiles %}

	{% block pagetitle %} Weather {% endblock %}
	{% block extrahead %}
		<link rel="stylesheet" type="text/css" href="">
	{% endblock %}

	{% block content %}

		<h4 class="container">Weather</h4>
		<div class="container">
			<form method="GET" action = "{% url 'get_weather' %}" id="weather-form">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" id ="login-btn" name="login" class="">GET WEATHER</button>
			</form>
		</div>



	{% endblock %}


